<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<title>登录</title>
		<style type="text/css" media="screen">
			body{background-color:#ccc;}
			#login_area{border:1px solid #333;
				margin-top:200px;}
			#login_area label{float:right;}
			#submit{float:right;}
			#login_area{background-color:#E6E6E6;}
		</style>
  </head>
	<body>
		<%= form_tag sessions_verify_path , :id=>"login_form" ,:method=>:post do %>
		  <table border="0" cellspacing="5" cellpadding="5" id="login_area" align="center">
				<tr><th colspan="2">包车订单系统</th></tr>
				<% if flash[:error] %>
					<tr><td colspan="2" style="color:red;"><%= flash[:error] %></td></tr>
				<% end %>
				<tr><td><label for="name">用户名:</label></td><td><%= text_field_tag "name"%></td></tr>
				<tr><td><label for="password">密码:</label></td><td><%= password_field_tag "password"%></td></tr>
				<tr><td></td><td><%= submit_tag "登录",:id=>"submit"%></td></tr>
			</table>
		<% end -%>
	</body>
</html>