- content_for :sub_menu do
  %li.active= link_to "线路列表", tours_path
  - if can? :new, @tour
    %li= link_to "添加线路", new_tour_path 

%h1 线路列表
%table.bordered-table.zebra-striped
  %tr
    %th 线路名称
    %th{:style => "width:200px;"} 价格
    %th{:style => "width:200px;"} 操作
  - @tours.each do |tour|
    %tr
      %td= tour.name
      %td= tour.price
      %td
        = link_to "下单", order_new_path(:tour_id => tour.id)
        - if can? :update, @tour
          |
          = link_to "修改", edit_tour_path(tour)
          |
          = link_to "删除", tour, :method => "delete",:confirm => "确定?"